table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

/*override bad dynatable background style for th*/
th {
  background: #ffffff;
}
.dynatable-head {
  background: #006a72;
}

/*fix live table widths so that updates don't jitter widths*/
.live_table_col1 {
    width: 150px;
}
.live_table_col2 {
    width: 110px;
}

/*make gray cancel overlays for game requests*/
.gray_page_overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.6);
    z-index: 50;
    overflow: hidden;
}
.central_cancel_box {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    /* size of box on larger screens*/
    height: 200px;
    width: 300px;
    margin: auto;
    /*differentiates popup background slightly from normal background*/
    background: rgba(0,0,0,0.5);
    /* border around box on large screens
     * pattern:  _ _ blur spread color*/
    box-shadow: 0 0 10px 10px rgba(0,0,0,0.2);
    overflow: hidden;

    z-index: 500;
}
.horizontal-center{
    width: 100%;
    margin: auto;
}
.central_cancel_message{
    height: 50%;
    font-size: 1.3em;
    color: white;
    padding: 0.9em;
}
.central_cancel_button_holder{
    width: 100%;
    text-align: center;
}
.central_cancel_button{
    font-size: 1.3em;
    background-color: #000000;
    margin: auto;
    border-style: solid;
    border-color: rgb(100,100,100);
    padding: 0.2em;
    color: white;
}
.central_cancel_button:active{
    background-color: #222222;
}


/*
navigation bar style
*/
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    height: 45px;
    width: 100%; /* Full width */
}

/* Links inside the navbar */
.menu_entry {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.username_display {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    font-family: Arial;
    padding: 14px 6px;
    text-decoration: none;
}
#profile{
    float: right;
}
.menu_entry:hover {
    background: #ddd;
    color: black;
}
/*
main page style
*/
#main_page_view {
    margin-top: 45px; /* Add a top margin to avoid content overlay */
}

/* Main game css */

.game_full_container {
    position: absolute;
    top: 45px;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
}
.game_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    z-index: 10;
    overflow: hidden;
    background-color: rgba(100,100,100,0.5);
    overflow-y: hidden;
}
.game_script_box {
    width: 80px;
    height: 80px;
    background-color: brown;
}
.game_script_box_selected{
    background-color: green;
}
.script_box_button {
    width: 40px;
    height: 15px;
    font-size: 10px;
}
.script_box_button:active {
    color: red;
    text-decoration: underline;
}
.script_box_button:hover {
    text-decoration: underline;
}

.central_text_edit_box {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    /* size of box on larger screens*/
    height: 400px;
    width: 600px;
    margin: auto;
    /*differentiates popup background slightly from normal background*/
    background: rgba(0,0,0,0.5);
    /* border around box on large screens
     * pattern:  _ _ blur spread color*/
    box-shadow: 0 0 10px 10px rgba(0,0,0,0.2);
    overflow: hidden;

    z-index: 500;
}
.central_text_edit {
    height: 80%;
    font-size: 1.3em;
    color: white;
    padding: 0.9em;

}
.central_text_edit_button_holder {
    width: 100%;
    text-align: center;
}
.text_edit_button {
    font-size: 1.3em;
    background-color: #000000;
    margin: auto;
    border-style: solid;
    border-color: rgb(100,100,100);
    padding: 0.2em;
    color: white;
}
.text_edit_button:active{
    background-color: #222222;
}
.text_edit_textarea_style{
    white-space: nowrap;
    wrap="off";
    resize: none;
}
#text_edit_textarea {
    width: 500px;
    height: 250px;
}
#text_edit_error_textarea{
    width: 500px;
    height: 50px;
}
