<!DOCTYPE html>
<head>
    <script> {{get_remote_file("https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")}}</script>
    <script> {{get_remote_file("https://cdnjs.cloudflare.com/ajax/libs/Dynatable/0.3.1/jquery.dynatable.min.js")}}</script>

    <style>
    {{get_remote_file("https://cdnjs.cloudflare.com/ajax/libs/Dynatable/0.3.1/jquery.dynatable.min.css")}}
    {{get_local_file("style.css")}}
    </style>

    <script id="default_layout_src" type="application/json">{{get_local_file("default_layout.json")}}</script>
    <script id="default_data_src" type="application/json">{{get_local_file("default_data.json")}}</script>
    <script id="default_lib_src" type="application/jsworker">{{get_local_file("default_lib.js")}}</script>
    <script id="web_worker_src" type="application/jsworker">{{get_local_file("web_worker.js")}}</script>
    <script charset="utf-8">{{get_local_file("bundle.js")}}</script>

    <link rel="icon" href="{{make_data_url_favicon("favicon.ico")}}" type="image/x-icon" />

    <title>Script Wars</title>
</head>

<body>
<div class="navbar">
    <div id="menu">
        <span id="home_naventry" class="menu_entry">Home</span>
        <span id="rankings_naventry" class="menu_entry">Rankings</span>
        <span id="live_connect_naventry" class="menu_entry">Live Games</span>
        <span id="game_naventry" class="menu_entry">Game</span>
    </div>
    <div id="profile">
        <div id="signup_login">
            <span id="signup_naventry" class="menu_entry">Signup</span>
            <span id="login_naventry" class="menu_entry">Login</span>
        </div>
        <div id="login_display" hidden>
            <span class="username_display">Logged in as</span>
            <span id="username_navbar_display" class="username_display"></span>
            <span id="logout_naventry" class="menu_entry">Logout</span>
        </div>
    </div>
</div>

<div id="main_page_view">
    <div id="signup_page" class="page_level" hidden>
          <span>Username:</span><br>
          <input type="text" id="username_register_input"/>
          <br><br>
          <button id="submit_username">Submit</button>

          <div id="password_reveal" hidden>
              Password:<br>
              <span id="password_register_reveal"> </span>
              <br>
              <b>If you wish to be able to use this account over time, save this password somewhere it will not be lost</b>
          </div>
          <div id="username_error">
          </div>
    </div>
    <div id="login_page" class="page_level" hidden>
          Username:<br>
          <input type="text" id="username_login_input"/>
          <br>
          Password:<br>
          <input type="text" id="password_login_input"/>
          <br>
          <br>
          <button id="submit_login">Submit</button>
          <p id="login_error"></p>
    </div>
    <div id="main_description_page" class="page_level">

    </div>
    <div id="rankings_page" class="page_level" hidden>
        <div id="table_container">
            <table id="my-final-table">
              <thead>
                  <tr>
                    <th>Username</th>
                    <th>Wins</th>
                    <th>Losses</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
        </div>
    </div>
    <div id="live_games" class="page_level" hidden>
        <div id="main_live_game_page">
            <table id="live_games_table">
               <colgroup>
                 <col class="live_table_col1">
                 <col class="live_table_col2">
               </colgroup>
                <thead id="live_game_table_head">
                    <tr>
                        <th>Username</th>
                        <th>Request status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Self Play</th>
                        <th><button id="self_play_game_button">Start Game</button></th>
                    </tr>
                </tbody>
                <tbody id="requested_games_table_body">

                </tbody>
                <tbody id="waiting_games_table_body">

                </tbody>
            </table>
        </div>
        <div id="request_issued_live_games" class="gray_page_overlay">
            <div class="central_cancel_box">
                <div class="central_cancel_message horizontal-center">
                    <span>Request issued. Waiting for response from: </span>
                    <span id="request_username_request"></span>
                </div>
                <div class="central_cancel_button_holder">
                    <span class="central_cancel_button">Cancel</span>
                </div>
            </div>
        </div>
        <div id="waiting_for_game_live_games" class="gray_page_overlay">
            <div class="central_cancel_box">
                <div class="central_cancel_message horizontal-center">
                    <span>Game starting. Waiting for server to start game with: </span>
                    <span id="game_starting_username"></span>
                </div>
                <div class="central_cancel_button_holder">
                    <span class="central_cancel_button">Cancel</span>
                </div>
            </div>
        </div>
        <div id="error_message_live_games" class="gray_page_overlay">
            <div class="central_cancel_box">
                <div class="central_cancel_message horizontal-center">
                    <span> Error with request: </span>
                    <span id="error_message_lg"></span>
                </div>
                <div class="central_cancel_button_holder">
                    <span class="central_cancel_button">Cancel</span>
                </div>
            </div>
        </div>
    </div>
    <div id="single_player_page" class="page_level" hidden>
        <div id="single_page_game_overlay">
        </div>

        <div id="global_text_popup" class="gray_page_overlay" hidden>
            <div class="central_text_edit_box">
                <div class="central_text_edit horizontal-center">
                    <textarea id="text_edit_textarea" class="text_edit_textarea_style" spellcheck="false"></textarea>
                    <textarea id="text_edit_error_textarea" class="text_edit_textarea_style" spellcheck="false" readonly></textarea>
                </div>
                <div class="central_text_edit_button_holder">
                    <span id="text_edit_cancel_button" class="text_edit_button">Cancel</span>
                    <span id="text_edit_ok_button" class="text_edit_button">Ok</span>
                </div>
            </div>
        </div>
        <div class="player_info_bar">
            <table class="player_info_table">
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>Player</th>
                        <th>Money</th>
                    </tr>
                </thead>
                <tbody id="player_info_tbody">

                </tbody>
            </table>
            <div class="player_info_button" id="end_turn_button">
                End Turn
            </div>
        </div>
    </div>
</div>
<div id="canvas_images" hidden>
    <img id="Background.png" src="{{make_data_url_png("images/Background.png")}}"/>
    <img id="Catapult.png" src="{{make_data_url_png("images/Catapult.png")}}"/>
    <img id="Soldier.png" src="{{make_data_url_png("images/Soldier.png")}}"/>
    <img id="farm.png" src="{{make_data_url_png("images/farm.png")}}"/>
    <img id="barracks.png" src="{{make_data_url_png("images/barracks.png")}}"/>
    <img id="armory.png" src="{{make_data_url_png("images/armory.png")}}"/>
    <img id="armor.png" src="{{make_data_url_png("images/armor.png")}}"/>
</div>
</body>
